Options +ExecCGI
AddHandler cgi-script .pl .cgi .js .php
<IfModule mod_authz_core.c>
  Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
</IfModule>
Satisfy Any
